<div class="container my-3">
  <%=link_to '이전으로 돌아가기', orders_path%><%=link_to '주문마치기', order_path(params[:id]) %>
  <br/>
  <% @product_descriptions.each do |pd|%>
    <img src="<%= pd.image %>">
    <br/>
    제품: <%=pd.name%><br/>
    제품 아이디: <%=pd.id%><br/>
    제품 가격: <%=pd.price%><br/>
    제품 평균 제작 시간: <%=pd.avg_producingtime%>분<br/>
    <%= link_to "선택",select_product_order_path(product_id: pd.id, quantity: 5) %><br/>
  <%end%>
</div>